body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
background:linear-gradient(135deg,#f5f7fa,#d7e1ec);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card{
width:90%;
max-width:380px;
background:white;
padding:25px;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
text-align:center;
animation:fade 0.5s ease;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1,h2{
margin:10px 0;
color:#111;
}

.amount{
font-size:38px;
font-weight:bold;
color:#16a34a;
margin:15px 0;
}

.status{
text-align:left;
margin-top:20px;
}

.status p{
font-size:17px;
margin:14px 0;
display:flex;
align-items:center;
gap:10px;
}

.success{
color:green;
font-weight:bold;
}

.pending{
color:#ff9800;
font-weight:bold;
}

button{
width:100%;
padding:16px;
margin-top:25px;
border:none;
border-radius:14px;
background:linear-gradient(90deg,#ffd600,#ffb300);
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.03);
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

input,select{
width:100%;
padding:14px;
margin-top:12px;
border-radius:12px;
border:1px solid #ccc;
font-size:16px;
box-sizing:border-box;
outline:none;
}

input:focus{
border-color:#ffcc00;
box-shadow:0 0 5px rgba(255,204,0,0.5);
}
