body{
    margin:0;
    padding:0;
    background:#f2f2f2;
    font-family:Comic Sans MS;
}

.container{
    width:90%;
    max-width:400px;
    background:white;
    margin:40px auto;
    padding:30px;
    border-radius:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h1,h2,h3{
    text-align:center;
}

input,select{
    width:100%;
    padding:18px;
    margin-top:15px;
    border-radius:15px;
    border:2px solid #ddd;
    font-size:18px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:18px;
    margin-top:25px;
    border:none;
    border-radius:18px;
    background:#ffd800;
    font-size:22px;
    cursor:pointer;
}

.upload-box{
    border:3px dashed #ccc;
    border-radius:20px;
    padding:25px;
    margin-top:20px;
    text-align:center;
}

.card{
    background:#e8f5e9;
    padding:30px;
    border-radius:25px;
    text-align:center;
}

.loading{
    text-align:center;
    margin-top:20px;
    font-size:22px;
    display:none;
}

.status{
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
