*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f2f2f2;
padding:20px;
}

.container{
width:100%;
max-width:450px;
margin:auto;
background:#ffffff;
padding:25px;
border-radius:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
margin-top:20px;
}

h1{
font-size:32px;
text-align:center;
margin-bottom:25px;
color:#111;
}

h2{
font-size:28px;
text-align:center;
margin-top:10px;
margin-bottom:20px;
color:#000;
}

h3{
font-size:18px;
color:orange;
margin-bottom:15px;
text-align:center;
}

p{
font-size:18px;
margin-top:15px;
color:#222;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border:1px solid #ccc;
border-radius:12px;
font-size:16px;
outline:none;
background:#fafafa;
}

input:focus{
border-color:gold;
}

button{
width:100%;
padding:15px;
margin-top:25px;
background:gold;
border:none;
border-radius:14px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#f5c400;
}

.box{
background:#f7f7f7;
padding:20px;
border-radius:15px;
margin-top:20px;
}

.loader{
width:70px;
height:70px;
border:8px solid #ddd;
border-top:8px solid:#007bff;
border-radius:50%;
margin:auto;
margin-top:40px;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.file-box{
border:2px dashed #ccc;
padding:30px;
border-radius:20px;
margin-top:20px;
text-align:center;
background:#fafafa;
}

.success-box{
background:#dff5dd;
padding:30px;
border-radius:20px;
text-align:center;
margin-top:20px;
}

.pending-box{
background:#fff;
padding:25px;
border-radius:20px;
margin-top:20px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.amount{
font-size:40px;
font-weight:bold;
text-align:center;
margin-top:10px;
margin-bottom:20px;
color:#000;
}

.track-btn{
background:#2b2bb2;
color:white;
}

.track-btn:hover{
background:#1f1f91;
}

.approve-btn{
background:green;
color:white;
margin-top:10px;
}

.reject-btn{
background:red;
color:white;
margin-top:10px;
}

.approve-btn:hover{
background:#006400;
}

.reject-btn:hover{
background:#b30000;
}

a{
text-decoration:none;
}